<!DOCTYPE html>
<html>
<head>
<title>Test Service 1</title>
    <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col">
            <br /><br />
            <div class="jumbotron">
                <h1>Afisare note studenti</h1>
                <p class="lead">This page will display the students loaded from the second service!</p>
                <hr class="my-4">
                <p>This setup has deploy and CI pipeline.</p>
                <p>The script is pushed on Github.</p>
                <p>From the master branch the changes are pulled in a staging app where we run a test.</p>
                <p>If the test passes the app is deply to the staging area from where it can be promoted to production</p>
                <a class="btn btn-primary btn-lg" href="/students" role="button">Lista note studenti</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
