<!DOCTYPE html>
<html>
<head>
<title>Test Service 1</title>
</head>

<body>
<h1>Service one</h1>
<h3>This page will display the courses that we will load from the second service!</h3>
<p>This setup has deploy and CI pipeline.</p>
<p>The script is pushed on Github.</p>
<p>From the master branch we pull the changes in a staging app where we run a test.</p>
<p>If the test passes the app is deply to the staging area from where it can be promoted to production</p>
<a href="https://micro-node-unitbv-2.herokuapp.com/courses">Second service</a>
</body>
</html>
